* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}

.head {
    margin-left: auto;
    margin-right: auto;
    background-color: #FA8258;
    padding: 20px 0 20px 0;
}

.menu {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}

.logo {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.toolbar {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.toolbar ul li {
    float: left;
    margin-left: 20px;
    list-style: none;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu_con {
    position: absolute;
    width: 120px;
    z-index: 99999;
    background-color: #FA8258;
}

ul.menu_con li {
    float: none;
    padding: 10px 0 10px 0;
    display: none;
}

.toolbar ul li:hover ul.menu_con li {
    display: block;
}
.banner{
    align-items: center;
}
.anh{
    width: 300px;
}
.gia, .ten {
    text-align: center;
    color: black;
}
.giua {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;

}
